Websocket Sec-WebSocket-Key is invalid

Hi, thanks for a brilliant library.

I'm creating a websocket client using NetCoreServer, the server is not NetCoreServer (its using microsoft websockets).  When I try to connect the server is rejecting it with status code 400.  I tracked the issue down to the Sec-WebSocket-Key, you're library uses a base64 version of the WsClient Id but RFC6455 "The WebSocket Protocol", section 4.1 specifies that for the Sec-WebSocket-Key

   7.   The request MUST include a header field with the name
        |Sec-WebSocket-Key|.  The value of this header field MUST be a
        nonce consisting of a randomly selected 16-byte value that has
        been base64-encoded (see Section 4 of [RFC4648]).  The nonce
        MUST be selected randomly for each connection.

        NOTE: As an example, if the randomly selected value was the
        sequence of bytes 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09
        0x0a 0x0b 0x0c 0x0d 0x0e 0x0f 0x10, the value of the header
        field would be "AQIDBAUGBwgJCgsMDQ4PEC=="

The string version of the Id is not 16 bytes so it gets rejected.  If I change the key in OnWsConnecting(...) to

request.SetHeader("Sec-WebSocket-Key", Convert.ToBase64String(Encoding.UTF8.GetBytes(Id.ToString()).Take(16).ToArray()));

then the server does accept the connection but the client rejects it in WsSocket.PerformClientUpgrade(...) because its expecting the full id.

So hopefully its just a matter of making sure the Sec-WebSocket-Key is a base64 16-byte value.

Thanks for all the great work you do with this library.
Chris.

Fixed in 5.0.3! Please check the fix on your side!

Thanks for fixing this so quickly!  I'm using NetCore v3.1 but the latest 5.0.3 is only for .Net5 - is it possible to do a version that also supports NetCore v3.1?
Thanks,
Chris.

Merged to NetCore-3.0 branch. Please check version 3.0.22 from nuget.

Just tried it and it worked great.
Note your front page example web socket chat client is still showing using the old Id which you might want to update to save confusion.

Thanks for all your help!
Chris.

Examples in README.md was updated as well!